/* .navegacao{
    height: 60px;
}

.banner{
    height: 300px;
}

.titulo{
    height: 40px;
}

.itens{
    height: 150px;
}

.itemGrande .row{
    padding: 100px 0;
} */

.cabecalho{
    background-color: rgb(255, 205, 210);
}

.cabecalhoLink{
    font-weight: bold;
    font-size: 1.2em;
}